bin/
obj/
.vscode/
.vs/

!/NoitaMap/Assets/**
!/NoitaMap/Assets/**
/NoitaMap/Properties/launchSettings.json
!/NoitaMap.Viewer/Assets/**
!/NoitaMap.Viewer/Assets/**

*_dxgi.log
.netcoredbg_hist
vkd3d-proton.cache
vkd3d-proton.cache.write
imgui.ini
